# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
hm_env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data and Models
checkpoints/
*.pt
*.pth
*.ckpt

# Cache
.cache/
*.cache

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Scratch data
/scratch/
